<!doctype html>
<html>
<head>
    <title>Evolve App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="font-awesome.min.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> My Account</h1>
        <a href="/affirmations" class="btn btn-default btn-sm"><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Affirmations</a>
        <a href="/reflect" class="btn btn-default btn-sm"><i class="fa fa-commenting-o" aria-hidden="true"></i> Reflect</a>
        <a href="/logout" class="btn btn-default btn-sm"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well new">

                <h3 class="profilePic"><label for="profile_pic">Choose a profile picture:</label>
                  <input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png">
                </h3>

                <!-- this would be cool to continue doing so it works not sure how to approach images in Mongoose just yet -->

                <% if (user.local.email) { %>
                    <p>
                        <p><strong class="item">id</strong>: <%= user._id %><br></p>
                        <p><strong class="item">email</strong>: <%= user.local.email %><br></p>
                        <p><strong class="item">password</strong>: <%= user.local.password %></p>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
    </div>


</div>

<script src="main.js"></script>

</body>
</html>
